# Example: Kubernetes deployment using runner components
#
# This shows how to deploy to a Kubernetes cluster via GitLab Agent ci_access.

include:
  - component: gitlab.com/<your-group>/attic-iac/docker-build@main
    inputs:
      stage: build
  - component: gitlab.com/<your-group>/attic-iac/k8s-deploy@main
    inputs:
      kube_context: "org/project/kubernetes/agents:dev"
      namespace: my-app

stages:
  - build
  - deploy

build-image:
  extends: [.component-job]
  stage: build

deploy-staging:
  extends: [.component-job]
  stage: deploy
  environment:
    name: staging
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
